<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BotButler Kitchen</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>